<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="tk.giesecke.gcm_esp8266"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- For accessing Internet -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- For checking current network state -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- For waking device from sleep for showing notification -->
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<!-- For vibrating device -->
	<uses-permission android:name="android.permission.VIBRATE"/>
	<!-- For receiving GCM messages -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- For protecting GCM messages so that only your app can receive them -->
	<permission
		android:name="com.androidsrc.gcmsample.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.androidsrc.gcmsample.permission.C2D_MESSAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<service
			android:name=".GCMIntentService"
			android:exported="false">
		</service>

		<receiver
			android:name=".GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="tk.giesecke.gcm_esp8266" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
